# Node Modules
node_modules/

# Backend Modules
backend/node_modules/
frontend/node_modules/

# Environment Variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vite Cache
*.vite/